div {
  width: 100%;
  text-align: center;
}

div button {
  padding: 16px 14px;
  background-color: rgb(71, 128, 152);
  color: blanchedalmond;
  border: 0px;
  margin: 0px 5px;
}

div button:hover {
  background-color: blanchedalmond;
  color: rgb(71, 128, 152);
}

.content-option {
  margin-top: 20px;
}

h4 {
  color: beige;
  font-size: 20px;
}